/* ### Primary

- Lime: hsl(61, 70%, 52%)
- Red: hsl(4, 69%, 50%)

### Neutral

- White: hsl(0, 0%, 100%)
- Slate 100: hsl(202, 86%, 94%)
- Slate 300: hsl(203, 41%, 72%)
- Slate 500: hsl(200, 26%, 54%)
- Slate 700: hsl(200, 24%, 40%)
- Slate 900: hsl(202, 55%, 16%) */


:root {
  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);
  --white: hsl(0, 0%, 100%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(202, 55%, 16%);
}

html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--slate-100);
  font-family: "Plus Jakarta Sans", sans-serif;
}

body, h1, p {
  margin: 0;
}

.modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--white);
}

/* .calculator starts */

.calculator,
.result {
  padding: 2em;
}

.calculator {
  color: var(--slate-700);
}

.calculator h1 {
  font-size: 1.5rem;
  color: var(--slate-900)
}

.calculator-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calculator input:not([type="radio"]) {
  width: 100%;
  box-sizing: border-box;
}

.calculator input {
  border: 0;
  margin: 1em;
}

.calculator input:focus {
  outline: 0;
}

.input-block:nth-of-type(3){
  display: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.input-block {
  margin-top: 1em;
}

.input-group {
  height: 40px;
  border-radius: 5px;
  border: solid 1px var(--slate-700);
  margin-top: 0.6em;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.input-group .unit {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  background-color: var(--slate-100);
}

.input-group-1 {
  flex-flow: row-reverse;
}

.input-block:last-of-type .input-group:first-of-type {
  border: solid 1px var(--lime);
  background-color: hsl(60, 81%, 94%);
}

/* input[type="radio"] {
  accent-color: var(--lime);
}

input[type="radio"]:active {
  outline: 0;
  box-shadow: 0;
  background: none;
} */

input[type="radio"] {
  /* appearance: none; */

  /* border-radius: 50%; */
  /* width: 16px; */
  /* height: 16px; */
  accent-color: var(--lime);
  border: 2px solid #999;
  transition: 0.2s all linear;
  /* margin-right: 5px; */

  /* position: relative;
  top: 4px; */
}

input[type="radio"]:checked {
  background-color: white;
  border: 6px solid black;
}

button {
  height: 40px;
  border: 0;
  background-color: var(--lime);
  border-radius: 30px;
  margin-top: 2em;
  padding: 0.8em 2em;
  display: flex;
  align-items: center;
  gap: 0.8em;
  color: var(--slate-900);
  font-weight: 700;
}

button img {
  height: 100%;
}

/* .calculator ends */

/* .result-completed starts */

.result {
  background-color: var(--slate-900);
  color: var(--slate-300);
  border-radius: 0 0 0 60px;
}

.result h1 {
  font-size: 1.5rem;
  color: var(--slate-100)
}

.result-completed p {
  margin-top: 1em;
}

.calculated-result {
  margin-top: 2em;
  background-color: hsl(201, 72%, 8%);
  border-radius: 10px;
  border-top: solid 4px var(--lime);
  padding: 2em;
}

.calculated-result p {
  margin-top: 0;
}

.monthly-repayment-container {
  margin-bottom: 2em;
}

.monthly-repayment {
  color: var(--lime);
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

.total-repayment-container {
  padding-top: 2em;
  border-top: solid 1px var(--slate-300);
}

.total-repayment {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
}

/* .result-completed ends */

/* .result-empty starts */

.result-empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.result-empty-img {
  width: 40%;
}

.result-empty-img img {
  width: 100%;
}

.result-empty h1,
.result-empty p {
  margin-top: 1rem;
}

/* .result-empty ends */
