/* ### Primary

- Lime: hsl(61, 70%, 52%)
- Red: hsl(4, 69%, 50%)

### Neutral

- White: hsl(0, 0%, 100%)
- Slate 100: hsl(202, 86%, 94%)
- Slate 300: hsl(203, 41%, 72%)
- Slate 500: hsl(200, 26%, 54%)
- Slate 700: hsl(200, 24%, 40%)
- Slate 900: hsl(202, 55%, 16%) */


:root {
  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);
  --white: hsl(0, 0%, 100%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(202, 55%, 16%);
}

html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--slate-100);
  font-family: "Plus Jakarta Sans", sans-serif;
}

body, h1, p {
  margin: 0;
}

.modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--white);
}

.calculator,
.result {
  padding: 2em;
}

.calculator {
  /* background-color: var(--white); */
  color: var(--slate-700);
}

.calculator h1 {
  font-size: 1.5rem;
  color: var(--slate-900)
}

.calculator-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calculator input:not([type="radio"]) {
  width: 100%;
  box-sizing: border-box;
}

.calculator input,
.input-radio-group {
  padding: 0.8em;
  border-radius: 5px;
  border: solid 1px var(--slate-700);
  margin-top: 0.6em;
}

/* .calculator label {
  margin-bottom: 10px;
} */

.input-block:nth-of-type(3){
  display: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.input-block, button {
  margin-top: 1em;
}

.input-group {
  position: relative;
}

.input-group .unit {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  box-sizing: border-box;
  background-color: var(--slate-100);
  border-radius: 0 5px 5px 0;
  border: solid 1px var(--slate-700);
  border-left: 0;
}



button {
  height: 40px;
  border: 0;
  background-color: var(--lime);
  border-radius: 30px;
  padding: 0.8em 2em;
  display: flex;
  align-items: center;
  gap: 0.8em;
  color: var(--slate-900);
  font-weight: 700;
}

button img {
  height: 100%;
}

.result {
  background-color: var(--slate-900);
  color: var(--slate-300);
  border-radius: 0 0 0 60px;
}

.result h1 {
  font-size: 1.5rem;
  color: var(--slate-100)
}



